# Ignorar directorios específicos
Code/
GIMP/
dconf/
geeqie/
go/
gtk-2.0/
gtk-3.0/
htop/
neofetch/
nitrogen/
omf/
pulse/
spotify/
volumeicon/
xfce4/
qtile/__pycache__/
discord/
autostart/
Electron/
JetBrains/
libreoffice/
Unknown Organization/
yay/
Thunar/

mimeapps.list
QtProject.conf
zoom.conf
zoomus.conf
